[2022-06-06 18:16] moalamri opened #1 "Add commands"
@CraftLogan Hi.
Seems like we pissed some people.
We better keep the discussion here..

So regarding the toggling command. Should it be functional on the current active/open tab or for the whole extension?

I might be able to add both commands

[2022-06-29 08:22] ctf0 opened #2 "extension freeze the editor"
first many thanks for this extension, it really helps.

i currently have a regex of `((?<=class=\").*?(?=\")|(?<=style=\").*?(?=\"))` which basically supports both **style & class**,
however with files that are  200+ lines, it would cuz the whole thing to freeze,

so is there a way to make this more performant ?

[2022-06-29 21:51] moalamri commented on #2
Hi @ctf0
I'm sorry for that, I tried to reproduce it, but VSCode didn't freeze in my side.
Anyways I believe it could happen since code refactoring is not done and it was a single day work.

So thanks for the heads up. I'll push an update with better performance since I believe it could be done better.

[2022-06-29 23:25] ctf0 commented on #2
worked like charm, thanks, i didnt notice that there was an option to decide the regex group, so thanks for that too.

[2022-06-29 23:27] ctf0 commented on #2
ps: if u can make the decoration styles configurable it would be awesome.

[2022-06-29 23:51] moalamri commented on #2
Good to hear that :)
Still I'm optimizing the code to be more performant.

What do you mean by decoration styles?
Currently you can change any of the following settings to decorate the folding mask and folded content:

- `inlineFold.unfoldedOpacity` opacity of the unfolded code when is clicked by mouse or being selected
- `inlineFold.maskChar` text/character to mask "replace" the code when it is f

[2022-06-30 11:34] ctf0 commented on #2
i meant padding and margins if possible.

[2022-07-01 01:15] #2 closed

[2022-07-01 03:28] moalamri commented on #2
I'm afraid such decoration is (not available)[https://code.visualstudio.com/api/references/vscode-api#DecorationRenderOptions].
Maybe in upcoming updates I will expose more options from the available decorations.
Regarding performance enhancing, I have pushed an update that decorate the visible portion of code only, so the performance will stay the same in all files sizes.

[2022-07-01 09:33] ctf0 commented on #2
oh ok, np then, thank you so much for your time and your help.

[2022-07-03 14:40] moalamri opened #3 "Apply decorations to the overflow part"
To have more smoother experience with the [new approach](https://github.com/moalamri/vscode-inline-fold/commit/311447e3c9feb1b382040d167de12f63ad04ba3f).
Decoration has to be applied 2-3 lines ahead so that the decorating process will not be noticed while scrolling.

[2022-07-03 16:56] ccccooooddddyyyy opened #4 "Support for React/Typescript React"
[code]

These are settings I've tried to achieve `className` folding in .tsx files.

I'm not sure it is not supported yet or I haven't do it right.

[2022-07-03 17:50] moalamri commented on #4
Hey @ccccooooddddyyyy
This should work with reactjs

https://regex101.com/r/8Jj6Q9/1

Make sure you set "inlineFold.regexGroup": 2

[2022-07-03 18:37] ccccooooddddyyyy commented on #4
Thanks for replying.

Here's screenshot of my settings. It's still not work tho :D
![CleanShot 2022-07-04 at 01 36 23](https://user-images.githubusercontent.com/8092790/177052878-ab0701d3-f858-4987-bee9-c068dab4228a.png)

[2022-07-03 19:11] moalamri commented on #4
When you open .tsx file what is the file language is displayed in the right side of the status bar?

![image](https://user-images.githubusercontent.com/964077/177053983-741c3c10-b200-4de8-8c45-e43542ed5632.jpeg)

[2022-07-03 19:18] ccccooooddddyyyy commented on #4
It's Typescript React.
![CleanShot 2022-07-04 at 02 18 30](https://user-images.githubusercontent.com/8092790/177054198-d56da954-a536-4fc6-9b2e-bf6b471655c4.png)

[2022-07-03 19:53] moalamri commented on #4
Add `typescriptreact` to the languages list.

The extension uses `languageId` as because a language could have more than one file extension & aliases

Here's a list of known languages
[Known language identifiers](https://code.visualstudio.com/docs/languages/identifiers#_known-language-identifiers)

[2022-07-03 21:06] ccccooooddddyyyy commented on #4
Worked perfectly! I wished to find information like this in the docs even nicer if it comes with regex settings.

[2022-07-03 22:05] moalamri commented on #4
Good to hear that :)
Sure I'll update the docs with some common regex examples also more descriptive settings.

That's why I asked for the code because the regex I gave worked only for double quotes className. Try this https://regex101.com/r/RkCWEk/1 and if you mean `{` and `` ` `` could come together? I'm not really familiar with reactjs, but if so then I guess it's also achievable https://regex1

[2022-07-04 04:56] bijaypoudel1 opened #5 "Cannot fold the tailwindcss class that contain breakpoints, arbitrary values."
cannot fold the class that contain the symbol like ":", "[ ]", "!"
for example md:px-4, px-[20px], !px-4,

[2022-07-04 07:09] moalamri commented on #5
Hey @bijaypoudel1
The default regex is for plain html.
This should work:
https://regex101.com/r/gdReay/1

`(class)="([^\"]*)"`

[2022-07-04 07:50] dougwithseismic commented on #4
![image](https://user-images.githubusercontent.com/48530756/177107560-0765e6e7-1464-4442-93c9-2414c593270d.png)

For anyone wanting to get set up quickly with React.

1. Ctrl + Shift + P -> Open Settings (JSON)
2. Add the below

[code]

[2022-07-04 07:57] moalamri commented on #4
@dougwithseismic
Thank you so much.
I'll push an update soon that has even better performance and eliminate the unnecessary events triggers.

Anyways I will mention you when I'm done so that if you cloud have free time you could help with docs 😊

[2022-07-04 07:57] #4 closed

[2022-07-04 08:46] ccccooooddddyyyy opened #6 "Support for mutilple cursors"
<img width="660" alt="CleanShot 2022-07-04 at 15 45 17@2x" src="https://user-images.githubusercontent.com/8092790/177117885-2ca75b23-1b27-4c99-a17a-78ec813eb552.png">

It's currently can't be unfolded with when I put cursor on multiple lines.

[2022-07-04 09:20] ARogueOtaku opened #7 "Language scoped settings"
Hi,

First off, thanks for developing this extension. This helps a lot when working with large texts.

Would be awesome if the regex config was an array instead of just a single string. This will enable users to declare multiple formats instead of trying to fit everything in single regex.

An even more ambitious ask would be to declare profiles. Where each profile will contain the regex it will ma

[2022-07-04 16:04] moalamri commented on #7
Hey @ARogueOtaku

The better way to do that is to use language scoped settings.
For example

[code]

In that way only specific regex will be used according to the scoped language and you can have multiple regex without affecting any performance.

I will look into that and see what I can do.

[2022-07-05 08:56] Baicheng-MiQ opened #9 "Not working for .vue files."
It works well for .html but not for framework specific files.

[2022-07-05 09:06] eedrxs opened #10 "Not working for .tsx or .jsx files"
The extension doesn't seem to work for non .html files. Even when I edited the regex used in matching and added ".tsx"/".jsx" to the list of files it handles from its setting, it still doesn't work.

[2022-07-05 17:24] e-medeiros opened #11 "Add support for *.phtml files"
It's works fine for HTML. but tried on PHTML and nothing happens.

[2022-07-05 18:30] ARogueOtaku commented on #7
Hey, @moalamri yup, so instead of creating a profile, you a proposing each language is a regex profile itself. Yes I like that. That would be great. Thanks

[2022-07-06 03:34] trevorwrightdev opened #12 "Not working on .js or .jsx files"
Can someone tell me how to get this working on js and jsx files? Also ts and tsx files? It doesn't seem to be working sadly. It seems like a really cool extension so if you could tell me how to get it running that would be great.

[2022-07-06 04:12] ali-issa commented on #12
You should add `javascriptreact` and `typescriptreact` to the list of supported languages in the plugin settings. Alternatively, you can add this to your VS Code JSON settings file:

[code]

[2022-07-06 04:13] ali-issa commented on #10
You should add `javascriptreact` and `typescriptreact` to the list of supported languages in the plugin settings. Alternatively, you can add this to your VS Code JSON settings file:

[code]

[2022-07-06 04:15] ali-issa commented on #12
Check my answer at #10

[2022-07-06 05:24] trevorwrightdev commented on #12
Is this all I need to do? Because I think I did it and it still does not work. My supported languages looks like this:
<img width="438" alt="image" src="https://user-images.githubusercontent.com/86077703/177474832-1740cd42-b3c4-427c-8c9e-f022feb86eb2.png">
I also changed this regex from class to className like this:
<img width="468" alt="image" src="https://user-images.githubusercontent.com/860777

[2022-07-06 06:06] ali-issa commented on #12
Try this regex `className="(.*?)"`. Make sure to click outside the input field before leaving the settings page, so that the settings will be applied.

[2022-07-06 06:41] moalamri commented on #9
Could you please specify the attributes you targeting?

[2022-07-06 06:45] moalamri commented on #12
I'm pushing an update today to support react out of the box

[2022-07-06 06:49] eedrxs commented on #10
Okay then, that's great.

But the documentation of the extension really needs lots of improvement as it currently doesn't make it easy to understand how to use it. I can help with that if you'd be open to collaborate.

[2022-07-06 07:13] moalamri commented on #10
You are absolutely right, the documents needs some work, examples and use cases.. etc
Yes please I would appreciate any contribution.

[2022-07-06 07:24] eedrxs commented on #10
Okay, then. Lemme get to work. Happy to collaborate 🤝

[2022-07-06 08:21] moalamri commented on #10
Mr @ali-issa has made some changes to the readme.md file.
You might want to start with the new changes 👍

[2022-07-06 08:23] moalamri commented on #11
What is the language id of phtml?

[2022-07-06 08:27] ali-issa commented on #10
@eedrxs @moalamri Including [this](https://code.visualstudio.com/docs/languages/identifiers) in the documentation will help people find the right identifiers for the languages they're using.

[2022-07-06 09:16] #6 closed

[2022-07-06 09:18] moalamri commented on #7
@ARogueOtaku
Exactly. It will be language scoped instead of manually adding supported languages in the top level.
Also would allow to have different settings for each language.

[2022-07-06 09:21] moalamri commented on #9
Please update the extension and restart VS Code then reset the `regex` and `regexGroup` settings to the default values.

[2022-07-06 09:21] #9 closed

[2022-07-06 09:22] moalamri commented on #10
@ali-issa 👯‍♂️

[2022-07-06 09:22] #10 closed

[2022-07-06 09:23] moalamri commented on #12
Please update the extension and restart VS Code then reset the `regex` and `regexGroup` settings to the default values.

[2022-07-06 09:23] #12 closed

[2022-07-06 09:23] moalamri commented on #4
Please update the extension and restart VS Code then reset the `regex` and `regexGroup` settings to the default values.

[2022-07-06 12:15] androizer opened #16 "Reveal classes on hover on masked chars"
Hi,

I like the extension alot and it saves alot of space on the editor. Thanks for such a great extension @moalamri.

I think hovering on the masked chars revealing all the classes inside a popover can be a great feature to have. This will help us with some few extra clicks.

Moreover, conditional masking can be applied on the basis of number of classes crossing certain threshold.

This scenario

[2022-07-06 22:45] #11 closed

[2022-07-07 09:20] jsxclan opened #17 "Fold misplaced!"
Kindly fix this!

![image](https://user-images.githubusercontent.com/51025764/177739300-7b018d8d-3a47-4838-8d66-8803067144d6.jpeg)

[2022-07-07 12:38] jsxclan commented on #17
I think so because I haven't modified the extension settings tho.

[2022-07-07 21:05] moalamri commented on #17
@jsxclan alright, thank you for reporting, I'll have a look soon 💭

[2022-07-07 21:12] jsxclan commented on #17
Alright! Keep up the great work.

[2022-07-07 21:52] moalamri commented on #17
Fixed

[2022-07-07 21:52] #17 closed

[2022-07-08 09:06] androizer commented on #16
Hey @moalamri,
Thanks for the clarification on the first suggestion.
Regarding the second one, here is the default regex `(class|className)=[`'{"]([^`'"}]*)[`'"}]`. Can you help me in modifying it bit according to the above case you mentioned. Just wanted to know how this works.

Thanks.

[2022-07-08 11:57] ccccooooddddyyyy opened #19 "RegEx bug when selecting empty class/className"
Lines after an empty string class/className attribute `className=""`/`class=""` will be not folded.
![CleanShot 2022-07-08 at 18 54 42](https://user-images.githubusercontent.com/8092790/177987660-09fc0525-aa7f-41dd-9076-cc3f0605a8aa.png)
![CleanShot 2022-07-08 at 18 54 47](https://user-images.githubusercontent.com/8092790/177987664-719d5e62-125c-42b0-887c-bf9beefa238c.png)

[2022-07-08 16:32] Andersgee opened #20 "folding template strings"
The default regex will not handle things like
[code]

Anyway to handle this nicely?

I tried combining a "string regex" with a "template string" regex unforunately that puts the relevant result of the second regex in group 5 instead of group 2 as the first.

[see my attempt here](https://regex101.com/r/xH3IOL/1)

[2022-07-08 22:51] moalamri commented on #16
Hey @androizer
Could you try the following:
`(class|className)=['{"]([^'"}]{10,120})['"}]`

[2022-07-08 22:54] moalamri commented on #19
Good catch @ccccooooddddyyyy

[2022-07-08 23:24] moalamri commented on #20
Try this:

https://regex101.com/r/8aHyc0/1

[2022-07-08 23:33] moalamri commented on #20
It doesn't fully work

https://regex101.com/r/drLGA2/1

Hmm, maybe a regex expert could help you? I will try to make it, but I don't promise xD

[2022-07-09 11:02] Andersgee commented on #20
Thanks for the help. I will use that for now, although it incorrectly folds everything after className, for example here
[code]
it results in
[code]

[2022-07-09 23:57] moalamri commented on #20
Hey @Andersgee
Sorry I missed that part 💢
I really can't think of a regex for such situation. Maybe there's a better way, but here's what I have came up with:
https://regex101.com/r/0PRtOB/1

Keep in mind that it will also fold the enclosers.

[2022-07-10 05:22] moalamri commented on #19
Fixed in 0.1.4

[2022-07-10 05:23] #19 closed

[2022-07-10 05:24] moalamri commented on #17
A better solution is in the new version 0.1.4
Please update and check the default regex 🙂

[2022-07-10 16:28] GBrachetta commented on #16
I would also like to see this properly configurable in the extension settings. Something like "Fold when there's a minimum of N classes"/

[2022-07-10 19:33] androizer commented on #16
@moalamri I tried your regex, but it didn't worked for me. Can you try it for yourself.

[2022-07-10 20:42] androizer commented on #16
I tried it and it worked. But I have to use number greater than 50 to make it work. 20 or 30 didn't worked for my case, which idk why.

[2022-07-10 21:05] moalamri commented on #16
hey @androizer
It is measured by characters not words, perhaps the shortest class value you have is 50 characters?

[2022-07-10 21:10] moalamri commented on #16
This would make the extension work for a single purpose. It's useful in other use cases that's why I made it possible to tweak the regex 👍. It's also possible to configure minimum using the regex itself.
The most important feature I'm working on right now is to add support for language scoped settings which will make the extension more flexible

[2022-07-11 11:25] androizer commented on #16
It's working now. I think there may be some issue with the extension not loading correctly. You can add the characters threshold regex example in the readme so that others can find the solution easily.

You are free to close this thread. Once again, excellent work @moalamri. 👍

[2022-07-11 12:21] franzwilhelm commented on #20
@moalamri try? The regex highlights the correct part, but it needs to be implemented in order for it to work in vscode

[2022-07-11 12:25] moalamri commented on #20
Go to the extension settings and set the regex to

`(className)=({`(?:.+)`}|"(?:[^`{}=\"]+)\")`

[2022-07-11 12:35] moalamri commented on #16
@androizer
I made some fixes in the recent two updates, please be sure to have the latest version.

You are right about documentation, it lacks some extra details. I will leave it to the contributors👍

[2022-07-11 12:35] #16 closed

[2022-07-11 21:57] adnanalbeda opened #22 "BUG: Folding Multiple Lines in JSX"
The extension is not capable of folding multiple lines in JSX className.

When it folds them, only the first line is fold. and when I click on the className, vscode render breaks, like the cursor hides for ever, and the selected line is not highlighted.

Example:

[code]

The fold className look like this:

[code]

[2022-07-12 05:52] moalamri commented on #22
Hey @adnanalbeda
For multiline folding use [Explicit Folding](https://github.com/zokugun/vscode-explicit-folding) extension.

[2022-07-13 11:11] moalamri commented on #20
@Andersgee
Can I mark this as solved?

[2022-07-13 11:12] #22 closed

[2022-07-13 11:50] franzwilhelm commented on #20
@moalamri it should be added to the code of the repo, not something you should need to configure

[2022-07-13 12:03] moalamri commented on #20
Hey @franzwilhelm
Why limit the extension to a single use case when it can literally do more than just folding tsx classes? Another use case I found is users use the extension to beatify markdown urls. Should I create another extension to support markdown urls folding or just give the current extension the ability to extend to the user requirements? :D

[2022-07-13 13:26] Andersgee commented on #20
@moalamri
yes  ```(className)=({`(?:.+)`}|"(?:[^`{}="]+)")``` works

just a note: I expect this issue to come up again unless its set as default. Its apparently not a trivial regex and I would guess close to 100% of users downloading the extension wants it to behave this way.

Thanks

[2022-07-13 13:38] moalamri commented on #20
@franzwilhelm @Andersgee
The problem with the regex I came up with to solve this is it instead of only capturing the matched group, it will also capture the enclosures.
Meaning the className attribute will look like this `className=...` while it should look like this `className="..."`. If someone could come up with a regex that could make the regex look as what in the screenshot I will definitely

[2022-07-14 16:33] FajarMaftuhFadli opened #23 "Fix tooltip flickering on hover"
When we hover into the fold, the tool-tip should be stay right? But in my case, the hover tool-tip is only visible for a moment.

[2022-07-14 18:37] desvandev opened #24 "Class names with the same letters as the attribute name will fold the attribute"
![image](https://user-images.githubusercontent.com/8462871/179057393-3dd5a6e2-15a4-4460-adc1-becfbfc00172.png)
As you can see if you type "c" or "lass", etc, will break the attribute.

I know that this is hard to fix since this is not only used for ``class`` but maybe a fix could be to have 2 regex, one for the attribute and another for the value.

[2022-07-14 20:51] moalamri commented on #23
Hey @FajarMaftuhFadli
I'm aware of this. The reason is because this is not a built-in API, it's a hacky way I used to mock the folding experience, which goes as the following:
- Text get matched.
- A custom decorator is used for the matched text which set the letterspacing to `-1 ch` (ch = character) & and used css style to set `display: none`
- The letters are overlapping each other into `-1 ch`

[2022-07-14 22:11] desvandev commented on #24
I'm using the default regex. The attribute name is ``class``.
Basically I'm using the extension out of the box I just added a different replace string (the Tailwind logo)

[2022-07-14 22:31] moalamri commented on #24
Hey @desvandev
I'm unable to reproduce this :(
Are you using the latest version 0.1.5?

[2022-07-14 22:39] desvandev commented on #24
I am using 0.1.5.
![Animation](https://user-images.githubusercontent.com/8462871/179100056-1a5d4d55-8f3d-4bfd-9a31-56f3b57ac1a2.gif)
![image](https://user-images.githubusercontent.com/8462871/179099744-2bc30ecc-f62c-47cb-b534-64c6ac9281b3.png)

[2022-07-14 23:30] FajarMaftuhFadli commented on #23
That is nice to know, I hope it's going well

[2022-07-14 23:34] moalamri commented on #24
@desvandev

Thank you so much for the effort.

I was able to reproduce it. Jee it's ugly 😅

[2022-07-15 14:48] ccccooooddddyyyy commented on #19
Happy to help! DM me on Twitter @ccccooooddddyyy for more discussion if needed.

<img width="1130" alt="CleanShot 2022-07-15 at 21 46 20@2x" src="https://user-images.githubusercontent.com/8092790/179247671-7326ceda-7875-4d37-a458-5b592476ffda.png">

[2022-07-15 15:16] moalamri commented on #19
Hi @ccccooooddddyyyy
That will do it :)

thank you so much 😊

[2022-07-15 15:25] moalamri commented on #23
Hey @FajarMaftuhFadli
I'm afraid it's impossible for the moment. I tried my solution and it didn't work.
Perhaps it can work, but it will require the extension to write real text which is a bad idea (a bad regex could overwrite your whole code)
So I'm closing this feature for now. I hope I could find a way in future.

[2022-07-15 15:34] moalamri commented on #24
I need someone good with regex to help me figure this out 🤔

[2022-07-15 15:38] FajarMaftuhFadli commented on #23
Would it be possible to disable that tooltip while hovering over a fold and only enable it when unfolded? As a result, there is no flashing tooltip visible.

[2022-07-15 15:41] moalamri commented on #23
Yes it is possible and already applied it to the upcoming update 👍

[2022-07-16 03:17] moalamri commented on #20
@Andersgee @franzwilhelm
I think I have found a workaround for this.
I would appreciate if you could help me by providing examples of classes templates so I can publish the update with this being solved

Thank you

[2022-07-16 15:05] JasperSurmont commented on #24
This is not because of some regex magic, it is because of the usage of indexOf:

[code]

I proposed a solution in #25, although it is not the most beautiful.

[2022-07-17 06:54] ZaikoXander opened #26 "Create a toggle button to open and fold className"
I think must be interesting to have an option in the extension that when enabled, at the left of a `className` should have a toggle button to open and fold that `className`.

[2022-07-17 07:25] moalamri commented on #26
Hey @ZaikoXander
Thanks for the suggestion.
Unfortunately since this is not a real API, and is basically a hacky way I used around existing APIs, the `before` decoration is used to display the "mask" that covers the "folded" content, therefore there's no way of doing that, but there's an option `"inlineFold.after"` you can use that to display any desired character right after the folded content.

[2022-07-17 20:44] ZaikoXander commented on #26
Thanks for answering, and I'll be waiting for the update 😁✌

[2022-07-17 20:53] JasperSurmont commented on #24
So when I find some free time I can look into the possibility of processing the matching regex. In that case we simply:
1. Get the regex group number that should be folded and find the starting index in the regex string
2. Put everything before this group in one big group: `(class|className)=[{'"]([^{'"]+)[}'"]` would become `((class|className)=[{'"])([^{'"]+)[}'"]`
3. We now always select group 2

[2022-07-17 22:05] moalamri commented on #24
@JasperSurmont
Sounds good so far.
Here I made this simple repl to play with.
I don't know if you're experiencing the same, but when constantly restarting VS Code extension host while developing it always leak memory the send my PC to OOing. 🙂

Create repl here:

[2022-07-18 17:07] moalamri commented on #24
@JasperSurmont
According do your suggestion, here's the best parsing method I could think of:
https://replit.com/@moalamri/Regex-anatomy?v=1

[2022-07-18 17:43] JasperSurmont commented on #24
Aha smart, check the last character to check where folding should start :).
You should indeed put in the readme then that the folding group should be inside 2 delimiters, but I think almost all use cases of this plugin are like that

[2022-07-18 19:08] moalamri commented on #24
@JasperSurmont 👍🏻 Correct :)
Don't you worry about the group or regex validation as if the regex isn't applicable it will fail to apply any decoration 💯
Please check your PR, I applied your suggestion there.
If all good then I can merge it :D

[2022-07-18 21:53] #24 closed

[2022-07-19 04:29] #7 closed

[2022-07-19 04:30] moalamri opened #27 "Add language scoped configuration"
- to have maximum configuration the language scoped settings will have different properties than the global once.
- language's settings will have extra properties as `pre`, `start`, and `end`.

[2022-07-19 17:09] #26 closed

[2022-07-19 19:50] babakfp opened #28 "Color preview box"
I'm not sure whether this is fixable or not🤷‍♂️

![Screenshot 2022-07-19 124448](https://user-images.githubusercontent.com/44144724/179836055-e1367bd5-5d97-4014-929c-2f698f049894.png)

[2022-07-20 03:45] moalamri commented on #28
Hi @babakfp
In the next update you will be able to apply custom styling 👍

[2022-07-20 09:08] babakfp commented on #28
Hey
Oops, I meant the square color box is still visible.
![Screenshot 2022-07-19 124448](https://user-images.githubusercontent.com/44144724/179943862-3b3731fa-8485-4a88-9a43-9840870eade1.png)

[2022-07-20 09:15] babakfp opened #29 "Add a keyboard shortcut to show and hide all of the classes"
- It will affect the whole document, not just the file that you used the shortcut.
- A shortcut that you can easily use with 1 hand.
- We can also have a config option to set is the classes going to be visible or hidden by default.

[2022-07-20 15:59] moalamri commented on #28
I got you now 👍
There is no possible way I could think of to fix that, because it's probably applied by another extension which is something I can't prevent from my side. There's an extension that applies the color previous instead of the color selection box. Maybe it's a good replacement?
Plus if you are using Tailwind css, it's better to put colors in the framework's configs file, that way it al

[2022-07-20 19:25] babakfp commented on #29
Being able to press the shortcut keys without needing your right/second hand.

Nevermind

[2022-07-20 19:43] JasperSurmont commented on #29
For me doing the `Toggle Inline Fold` is already applied to the entire workspace, and not to the current file.

Shortcuts are customizable in VSCode itself, extensions have nothing to do with them really (apart for setting default values I think). To do so, follow these steps:

1. `Ctrl` + `Shift` + `p`
2. Type `Open keyboard shortcuts` and select it (not the JSON one)
![image](https://user-images

[2022-07-20 19:45] moalamri commented on #29
Of course you can go to VS Code keyboard shortcuts settings, search for the extension's command name `inline fold` then bind any keyboard shortcut you want, even if a single letter :)

It could sound like a great idea, so share when you want.

[2022-07-20 20:09] JasperSurmont commented on #20
I came up with a RegEx that is not perfect yet, but is going in the right direction I believe:
https://regex101.com/r/dSbZeZ/1
It still fails if you have multiple braces `{}` in your code. However, it should work fine when you simply do things like
[code]

[2022-07-20 20:37] moalamri commented on #29
Should we call it a feature or a bug 🤷?

[2022-07-20 20:46] JasperSurmont commented on #29
I think it's better this way :)

[2022-07-20 20:53] #29 closed

[2022-07-20 20:54] moalamri commented on #28
Feel free to reopen if needed

[2022-07-20 20:54] #28 closed

[2022-07-20 22:32] JasperSurmont opened #31 "Improve regex parsing to allow uncaptured groups (or add to readme that those are not allowed)"
If the user would, for example, use `(?:class|className)=[`'{"]([^`'"}]+)[`'"}]` as his or her RegEx, it would kind of break the folding (alignment is not correct then anymore). This is due to every `(` being seen as a capturing group in the regex parsing. This can be fixed by simply telling users in the readme not to do it, or improving the RegEx parsing not to care about groups with `?:` after i

[2022-07-21 10:25] moalamri commented on #31
The second solution sounds better as it will not disrupt the current users.
What do you think?

[2022-07-21 10:34] JasperSurmont commented on #31
Yes, I will maybe do it this evening :)

[2022-07-21 11:18] kuizuo commented on #31
<img width="432" alt="image" src="https://user-images.githubusercontent.com/61005888/180200517-d56ae9c6-833b-45a8-b609-34dbfe86e304.png">

but some code may not match, use `(?:class|className)=(['{"])([^'"}].*)(\1|})` to would be better

<img width="371" alt="image" src="https://user-images.githubusercontent.com/61005888/180201270-2cf07565-6508-4c0d-a698-872aaf2a15b1.png">

[2022-07-21 18:13] moalamri commented on #31
Could you explain what this part for? `(\1|})`
I'm not that expert with Regex

[2022-07-21 18:53] JasperSurmont commented on #31
`\1` means match whatever what was captured in capturing group 1. Similarly, `\2` matches the second group and so on

[2022-07-21 21:07] moalamri commented on #31
Group 1 is supposed to be the prefix (The part before that fold area)?

[2022-07-27 01:10] e-medeiros commented on #20
@moalamr
 I made this regex.
``(className)=((["'])|{`)(.+?)((\2)(?!{`)|`})``
capture group is 4;

it got all cases from @Andersgee.
but the extension rendering got messy.

[2022-07-27 01:13] moalamri commented on #20
Hi, Would you kindly try the regex with the previous version of the extension?
You can select the previous version from the extension page.

[2022-07-27 01:17] e-medeiros commented on #20
@moalamri worked fine with 0.1.5

[2022-07-27 01:21] moalamri commented on #20
Would you try to see if this issue is present #24

[2022-07-27 01:29] e-medeiros commented on #20
@moalamri still present :(

[2022-07-27 03:16] moalamri commented on #20
@e-medeiros thanks for testing :)
The problem with react syntax is that it can have any attribute value as there's no compiler to parse the value. It's just the browser engine that renders the value as it is, and you can basically concat anything. In this case you will have to make the regex greedy, but that means any following attribute will be matched as well. When you make the regex lazy then i

[2022-07-27 10:06] Andersgee commented on #20
I feel like allowing setting multiple capture groups is the way to go, I looked at the source and it does not seem like a huge change?

[2022-07-27 13:19] moalamri commented on #20
@Andersgee Yes that could work. I will look into it.

[2022-07-28 17:24] pexeixv opened #33 "Support for Nunjucks"
I use [Eleventy.js](https://11ty.dev), which uses [Nunjucks](https://mozilla.github.io/nunjucks/) as templating engine.

[2022-07-28 17:36] moalamri commented on #33
Hey @pexeixv.
I have never heard of Nunjuncks but it seems to be compile-able so it's just the regex that you need to change.
If you give me an example from the template of what you trying to mask I could provide you a regex and its group.

[2022-07-28 17:41] pexeixv commented on #33
It normally starts with YAML frontmatter, defined between a pair of 3 hyphens, followed by the HTML. YAML frontmatter is optional.
For example
[code]

[2022-07-28 18:35] moalamri commented on #33
This is not the compiled or pre-compiled output?
If this is what you see in the IDE, you could simply make the extension work out-of-the-box.
You only need to add the language id to the extension's supported languages settings.
The question is what is the language id of Nunjucks. I googled and got the following, I will post the full settings here, let me know if that fixes the language support:

[

[2022-07-30 03:46] #33 closed

[2022-07-30 20:24] moalamri commented on #20
Ho @Andersgee
Thank you for assisting me in this case.
I wanted to ask if only className value can have template string. Or you can also have another attribute value in the same line that has concatenation? Let's say for example `style` or `id` values?

[2022-07-31 13:22] Andersgee commented on #20
template strings can be anywhere (it is just normal javascript which can be anywhere).

[2022-07-31 18:24] emedeirox opened #34 "Multiple fold configurations"
Possibility to add adicional configuration, could be via JSON settings.
### Poll https://github.com/moalamri/vscode-inline-fold/discussions/55

[2022-07-31 19:24] abubakarutar opened #35 "Suggestion to rethink the extension's functionality"
This extension is amazing when working with Tailwindcss. I think it will be more functional if you could have a toggle to activate the inline fold, instead of the extension automatically inline folding when you aren't editing the className. Functionality like multi-cursor editing is completely unusable with the way the extension works now.

Thank you.

[2022-07-31 19:56] moalamri commented on #35
The extension already has a toggle command.
It also unfold when multi-cursor is used.
What version are you using?

[2022-07-31 20:01] moalamri commented on #20
It's more like js in html in js 🤔
It's getting complicated, but I'm working on regex-free solution and I hope I somehow manage to get this done.

[2022-08-04 15:37] moalamri commented on #34
Thanks for the suggestion.
Yes, it will be that way with the next update (which supports language scoped settings), I have not yet estimated when to release it as I have some tight deadline at work, so when I get free time, I will surely work on it :)

[2022-08-05 15:55] #35 closed

[2022-08-05 16:03] moalamri commented on #20
Hi
The only method I have found to be functional in template strings is to make the regex greedy and add an extra check if there's any captured attribute then the attribute with its value are removed to have only the first captured attribute.
I found it difficult because the extension is dealing with raw text rather than rendered, so there's no way of telling the extension where to stop unless I c

[2022-08-06 10:18] cnguyen-de opened #39 "Support Template Literals"
Hi, I've encounter a bug in Vue application:

Actual code:
![Screenshot 2022-08-06 at 12 14 04](https://user-images.githubusercontent.com/6671583/183244696-0ad2497a-ff49-4b96-bcdc-136a43b3b149.png)

What it is showing:
![Screenshot 2022-08-06 at 12 13 35](https://user-images.githubusercontent.com/6671583/183244686-7ca23d9d-e85f-4887-b8ec-9638be7ee588.png)

Expectation:
1. whole object inside :clas

[2022-08-06 13:45] moalamri commented on #39
Hi,
Does this happen when the class value is in the same line?

[2022-08-09 10:47] cnguyen-de commented on #39
Sorry for the late reply, also happens in the same line:

<img width="312" alt="Screenshot 2022-08-09 at 12 46 31" src="https://user-images.githubusercontent.com/6671583/183629883-d868c11b-bfd7-4f75-9bdf-496561bb2519.png">

[2022-08-09 22:54] moalamri commented on #39
Hi,
I see what you mean, it is a known issue I should have mentioned it on the home page.
You're using what is called template literal which could have any character from the default regex (the part that matches the ending delimiter).
There are two solutions, I either use a react/vue parser (transpiler) which I will have to import the whole react&react-dom which i don't plan to do. Or write a meth

[2022-08-10 00:13] e-medeiros commented on #39
@cnguyen-de if you decrease version to 0.1.5 you can use my regex... it fits your case.
using this version until 0.2.0 comes and solve some things.
```(class)\s*=\s*)((["'])|{`)((?!\3)(\n.|.)+?)((\3)(?!{`)|`})``` - group 5

tried so find some regex for substrings of a pattern but find nothing. be aware of  #24...

[2022-08-10 00:18] moalamri commented on #39
@e-medeiros I've looked into how tailwindcss compile values and they are using the same method I mentioned that I'm going to implement in next version which goes by guessing the end delimiter with a balanced pair, the developer added a comment saying "this is a naive way", so it could be the only method beside implementing AST for react and vue

[2022-08-13 10:18] kazi331 opened #43 "it doesn't work on react jsx project and vanilla html/css project on my pc"
it doesn't work on react jsx project and vanilla html/css project on my pc

[2022-08-13 23:33] moalamri commented on #43
Could you explain more? it should work with vanilla and react

[2022-08-19 02:48] #43 closed

[2022-08-19 02:51] moalamri opened #46 "Support template string in jsx"
- an extended jsx parser will be added only when it matches the language of the open document.
- the parser will not be fully AST, it will use regular expression to preset assumptions.

[2022-08-19 03:02] #39 closed

[2022-08-19 03:04] moalamri commented on #20
I've moved this to [#46](https://github.com/moalamri/vscode-inline-fold/issues/46)

[2022-08-19 03:04] #20 closed

[2022-08-19 03:04] moalamri commented on #39
I've moved this to [#46](https://github.com/moalamri/vscode-inline-fold/issues/46)

[2022-08-28 12:07] MightyCryptowall opened #50 "Inline fold not working in .blade.php files"
<img width="1322" alt="Screen Shot 2022-08-28 at 18 37 13" src="https://user-images.githubusercontent.com/52656718/187073390-7f7fe2d3-77e0-4ad6-86b4-4e5422e9adab.png">

[2022-08-28 16:10] moalamri commented on #50
Add `php` in the extension's settings under `inlineFold.supportedLanguages`

[code]

[2022-08-29 07:12] MightyCryptowall commented on #50
@moalamri ,
updated the settings.json
<img width="548" alt="Screen Shot 2022-08-29 at 13 41 46" src="https://user-images.githubusercontent.com/52656718/187144227-91869dfa-fb37-4761-801a-664e255781e3.png">
n

but inline fold still not working after that

[2022-08-30 02:55] moalamri opened #53 "Add an option to have the extension enabled/disabled by default."
For feature request: [#52](https://github.com/moalamri/vscode-inline-fold/discussions/52)

[2022-08-30 03:00] moalamri commented on #50
fixed in #51

[2022-08-30 03:00] #50 closed

[2022-08-31 08:41] juanmiguelguerrero opened #54 "Add a shortcut to active/disable the extension"
When I am working on a file, it would be very useful to have a Shortcut to enable or disable the extension for this document.

[2022-08-31 14:48] moalamri commented on #54
There’s already a shortcut, you can read the extension page to know how to bind it

[2022-08-31 17:47] juanmiguelguerrero commented on #54
Sorry.

[2022-08-31 17:47] #54 closed

[2022-09-03 03:41] moalamri commented on #34
@e-medeiros what do you think?
https://github.com/moalamri/vscode-inline-fold/discussions/55

[2022-09-04 05:35] MightyCryptowall commented on #50
@moalamri, inline fold still not working in .php and .blade.php files.

[2022-09-04 10:38] e-medeiros commented on #50
@MightyCryptowall since new was not released add "php" and "blade" to the Supported languages in the "inline fold settings"

[2022-09-04 11:32] MightyCryptowall commented on #50
@e-medeiros
I already added, it still not working

I also restart the vscode.
I also uninstall and reinstall the extension

still not working in php files

vscode settings.
<img width="423" alt="Screen Shot 2022-09-04 at 17 59 54" src="https://user-images.githubusercontent.com/52656718/188311032-903df422-4b6d-4ad8-b0f6-10d709951cff.png">

settings.json
<img width="507" alt="Screen Shot 2022-09-04

[2022-09-04 13:51] moalamri commented on #50
@MightyCryptowall Sorry I'm really caught up by work.
I thought of releasing it with some changes I made. since you had it working then yes probably gonna release it with some changes that address another suggestion.

[2022-09-12 01:13] DanielDerma opened #56 "support tailwind-merge"
Should fold inside of the parenthesis, not the 'twMerge', that would be perfect.

[2022-09-12 04:25] e-medeiros commented on #56
@DanielDerma could you provide your configurantion and a exemple code ?

[2022-09-14 05:23] DanielDerma commented on #56
(project example that use **twMerge** from **'tailwind-merge'** with flesh vscode setup on codespace(this also happens on my workspace)

This is how looks with 'Inline fold' extension enable:
![image](https://user-images.githubusercontent.com/37880797/190065866-a7b21752-d236-4016-90df-caebcb06666b.png)

And this is how looks when i disabled:
![image](https://user-images.githubusercontent.com/37880

[2022-09-14 14:33] moalamri commented on #56
@DanielDerma You don't want `twMerge` to be folded with the rest of the folded content? if so then you can tweak the regex to have `twMerge` in the pre fold captured group which has `class` and `className` . Or simply use `(^twMerge)` so it doesn't get matched with the folded group.

[2022-09-18 23:58] #56 closed

[2022-09-19 12:51] wc-davide opened #57 "Extension shouldn't attempt to fold :class properties in Vue files"
With the following code:
![image](https://user-images.githubusercontent.com/46521712/191019777-afa3e9ed-1332-46b8-97c6-8f4f91b8d862.png)

The extension attempts to fold the `:classes`, resulting in a broken code indentation:
![image](https://user-images.githubusercontent.com/46521712/191019742-8c813036-dc58-497b-ba09-a8bad54c3db7.png)

This can currently be fixed by changing the setting `inlineFol

[2022-09-19 15:19] moalamri commented on #57
Hi @wc-davide
You can change the capture group number with `inlineFold.regexGroup`.
Also, I think it will be easier to just add a space or tab character in the regex like [this example](https://regex101.com/r/5KycQx/1)
I'm not sure if vuejs can have any custom directives pre `class`, but if so, then yes, I think it's the perfect solution.
What do you think?

[2022-09-20 07:24] wc-davide commented on #57
I tried changing the regexGroup but the regex ```(class|className)=([`'"{])([^]+?)\2``` still doesn't seem to work.
Either way I realized there's an issue with that, cause the "ending quote" isn't always the same as the "starting quote", example: `class={ ... }` (I don't know what language this is, react maybe?).

So maybe the whitespace is the best solution?

---

My colleague sent me this: https

[2022-09-21 08:10] wc-davide commented on #57
Yes, I found a solution for myself. I made this issue hoping to find a global solution that would for everyone... but as you said in the UPDATE it's not that easy unfortunately...

[2022-09-21 21:33] moalamri commented on #57
I'm glad you sorted it out :)
Maybe in upcoming update I will make the default regex with pre whitespace 👍🏻

Feel free to reopen if you have a suggestion.

[2022-09-21 21:33] #57 closed

[2022-09-26 05:23] Auxtal opened #58 "Classes "flash""
Heya, I notice that when I scroll very quickly in a file the classes are like normal and then quickly get "folded". I'm not sure if this behaviour is expected I assume it is, but it's very annoying, is there any way you can stop this from occurring?

The same happens when loading a file I.E clicking on a file in the side bar and the editor opens.

[2022-09-26 13:09] moalamri commented on #58
Hi @Auxtal
For the initial folding it is something beyond the extension as the editor will load things accordingly where text decoration is the last thing (which the extension part is).
As for fast scrolling I’ve already submitted a [bug report](https://github.com/microsoft/vscode/issues/154977)  in VSCode repository.
It happens because the extension’s debouncer takes half a second to process the

[2022-09-26 15:23] Auxtal commented on #58
Oh ok, thanks for that information, appreciate it :)

[2022-09-26 15:23] #58 closed

[2022-09-27 21:30] dJani97 opened #60 "a simple / documented way to fold only after N numer of characters"
Hi!

Sometimes I have only a couple of short classnames which I don't necessarily want to fold, so I modified the regex to only fold a list of classes if it's longer than 30 characters:

[code]

I feel like this example could be added to the docs as it seems like a common use-case to me.

[2022-09-27 21:44] moalamri commented on #60
Hi @dJani97
That's an interesting use case :)
If you have found it working and are interested in documenting that, then branch dev/v0.1.8 is for the upcoming update which will be released very soon, I have added a section of examples for use cases if you want to add PR 👍🏻

[2022-10-08 01:32] #23 closed

[2022-10-08 01:32] #46 closed

[2022-10-08 01:33] #60 closed

[2022-10-08 01:33] #53 closed

[2022-10-11 08:16] kristjanmar opened #63 "Error: Cannot read properties of undefined (reading 'length')"
The inline fold extension has stopped working after the latest update. When I run the command with my keyboard shortcut, a toast in VS Code pops up with:

[code]

[2022-10-11 10:59] moalamri commented on #63
Hi @kristjanmar
Thanks for the report. The update 0.1.9 is aimed to fix this. Is it still persist?

[2022-10-11 11:13] kristjanmar commented on #63
I am using the latest version, 0.1.9. Not sure if it's relevant but my project has .svelte files that use class="" as the HTML attribute.

I also tried uninstalling the extension and then installing it again, still getting the error.

![b83e0b39995b43e9107f936db9d30c8d](https://user-images.githubusercontent.com/22234692/195075268-8c57ce17-072a-445d-b93b-cbf83ef6fc4f.png)

![453b3cef470950e0e803d6a

[2022-10-11 11:18] moalamri commented on #63
Can you reset the regex and regex group to default settings? I hope this would fix the issue, otherwise I will have to reproduce this somehow, maybe it's related to the active editor

[2022-10-11 11:38] kristjanmar commented on #63
I reset all the settings in VSCode, but now it's acting as if the plugin itself is gone. It is definitely still installed and enabled.

![9d19f39681051e194e06b058b9158f76](https://user-images.githubusercontent.com/22234692/195079901-595ff9e7-34bd-4760-ab7d-627337396733.png)

[2022-10-11 14:26] moalamri commented on #63
Yes, if the extension crashes, then it won't listen to commands
by the way do you get the `Cannot read properties of undefined (reading 'length') ` error when the class value is empty only?

[2022-10-11 14:37] kristjanmar commented on #63
No I don't have any empty class values. They all contain Tailwind classes.

[2022-10-11 14:56] moalamri commented on #63
@kristjanmar I'll upload a prerelease version so you can test it, I can't reproduce the error so I will assume that it has something to do with the matched content length.

[2022-10-11 14:57] moalamri commented on #63
Please download and test the release from here: https://github.com/moalamri/vscode-inline-fold/releases/tag/v0.1.10

[2022-10-11 15:04] kristjanmar commented on #63
It is working now, thanks a lot!

[2022-10-11 15:07] moalamri commented on #63
Awesome :)
I will release it then.

[2022-10-15 12:03] onattech opened #65 "Multiline support"
Assalamu alaykum Mohammad,

Great work with the extension, may Allah reward you. I am trying get it to work with Material UI sx property. It works fine if all the properties are on the same line but if the line is long enough, prettier formats it to be multiline and that breaks your extension. Here's what I got so far.
Here's my config regex
`(class|className|sx)=(({?{(`|))|(['"`]))((.|\n)*?)(}?})

[2022-10-15 16:00] moalamri commented on #65
Alaykom Alsalam @onattech .
Thank you so much 😃

If the linter is forcing your code to expand in multilines, then there's nothing the extension can do, but there are other methods to make the code fold like using [fold selection](https://code.visualstudio.com/updates/v1_70#_fold-selection) or using [this extension](https://marketplace.visualstudio.com/items?itemName=zokugun.explicit-folding) that

[2022-10-15 16:03] onattech commented on #65
Will look into those. Thank you. 👍🏼

[2022-10-15 16:03] #65 closed

[2022-11-01 02:45] bilogic opened #67 "Shortcut to toggle all"
Hi

Saw this cool extension from a YT!

Possible to have a keyboard shortcut to toggle all folding?
Use case is that, when we do need to see tailwind, it's easier to see all instead of hovering 1 by 1.

Thank you!

[2022-11-01 12:08] #67 closed

[2022-11-17 14:16] tecunningham opened #70 "suggestion for docs: collapse markdown link URLs"
I didn't see this in the documentation, but the extension is very useful for collapsing markdown link URLs:

Regex: `\[.*\]\((.*)\)`
Regex Flags: `g`

<img width="156" alt="image" src="https://user-images.githubusercontent.com/14047958/202469572-c46fd851-6721-46a1-801c-2d4ab576b436.png">

[2022-11-18 14:46] opuu opened #71 "[Feature Request] Support style attribute"
Adding support for `style` attribute will be very helpful (Specially for email template developers)

[2022-11-18 15:09] e-medeiros commented on #71
@opuu you can add style and/or any attribute you want by editin your regex.

example:
``` (class|className|style)=(({(`|))|(['\"`]))(.*?)(\\2|(\\4)})```

[2022-11-18 15:09] #71 closed

[2022-11-18 15:43] moalamri commented on #70
Hi @tecunningham
Users are allowed to document where the extension can help in different cases.
I will be happy to merge any use case you can suggest such this one 👍 it looks really useful

[2022-11-18 17:03] tecunningham commented on #70
OK cool I will play around with it a bit more. The one downside is that when I have word-wrap on, and the URL is long, then the blank lines get rendered. I think there's no workaround for that right?

<img width="321" alt="image" src="https://user-images.githubusercontent.com/14047958/202760841-2f70e95a-c257-4586-b2a6-36d0d9bc4497.png">

[2022-11-18 20:13] moalamri commented on #70
@tecunningham Yeah we noticed that, unfortunately the only workaround is to disable the word-wrap 😑.
Regarding any code formatting where it will actually break lines, I've thought of hooking a code editor with the extension to force some prettifying rules. But that will be an overhead since it must be language aware.
I must add limitations note in the home page until VS Code support horizontal fol

[2022-11-20 12:38] ctf0 commented on #70
@moalamri , can we have support for regex per language as well ?, instead of one regex fits all solution

[2022-11-20 18:44] monstajoe2002 opened #72 "Astro support"
This plugin doesn't fold tailwind boilerplate classes in ```.astro``` files like ```.html``` or ```.jsx```

[2022-11-20 21:17] moalamri commented on #72
I couldn't find it in here either https://code.visualstudio.com/docs/languages/identifiers#_known-language-identifiers

What is the language mode of the editor when you open an `.astro` file?
You can find it in the bottom right of the editor
<img width="135" alt="image" src="https://user-images.githubusercontent.com/964077/202926641-572d2156-c670-4926-9db4-d024000947ec.png">

[2022-11-21 20:26] monstajoe2002 commented on #72
Astro

[2022-11-22 14:57] laricoDGT opened #73 "fold rest of class names but not the first one"
It's possible to fold all but no the first one, to get a reference what is the basic class name for identify to naked eye.

**example:**

from:
`<div class="...">`

to:
`<div class="general ...">`

on this case, i can see my "general" class name then folded...

by default all is folded, so, i can't indentify unless you click the class or selector.

[2022-11-22 23:51] moalamri commented on #73
Yes, there's an example at the home page for when you want to fold after set of characters.
Also it's easier if you use the registered commands to fold/unfold

feel free to reopen issue if needed 👍🏻

[2022-11-22 23:51] #73 closed

[2022-11-28 14:33] SeyyedKhandon opened #74 "feature-request: Add an option for fold more than a number of characters/classes"
Because this plugin folds everything by default, it's hard to scan the codes by a glance because people usually need to scan what the code was for...
![image](https://user-images.githubusercontent.com/59599950/204301340-bf1f3d55-75e4-4ca7-b56a-bfb075a0b1de.png)

Currently, I have written a regex for myself that can be easily set as a new option in this plugin.

[code]

![image](https://user-images

[2022-11-28 15:45] moalamri commented on #74
hi @SeyyedKhandon
Thanks for the suggestion, sure the extension could be a barrier when styling, which is why I added an option `default state` and registered a keyboard shortcut `Inline Fold: Toggle` which will toggle folding `on: off` per file. It will be handy when working with styling (class values). And toggle the folding back when working on the page text or any other attributes.

There's an

[2022-11-28 16:02] SeyyedKhandon commented on #74
Hi dear @moalamri ,
Thank you, turning it on/off is a great option when actively working on a file, but in practice we use lots of scanning which can be really help-full as you can see the page is not bloated by long classes lines:

![image](https://user-images.githubusercontent.com/59599950/204322629-50f30e49-9359-4760-bdd7-2dac9d97abb3.png)

Also these options will make the developer experience

[2022-11-28 16:30] moalamri commented on #74
Just a side note: I must be honest the screenshots made me confused since they actually have some content mismatching 😅

Anyways, I fully get your point now. You might wonder why not so much options regarding the matched contents, it was because I either use regex or use a code walker (which will give me the flexibility to tweak lots of settings), but, a code walker must be language aware. Which i

[2022-11-29 12:43] SeyyedKhandon commented on #74
thank you🙏

[2022-11-29 22:41] moalamri commented on #74
@SeyyedKhandon
You're welcome, I guess this will be enhanced when #27 is fixed.
In that case you could use the suggested regex at the main page for specific languages to support folding after set number of characters without breaking the folding in other languages.
I will close this and feel free to reopen if needed 👍🏻

[2022-11-29 22:41] #74 closed

[2022-11-29 22:42] #72 closed